
<div class="particle elem1 anim-delay1"></div>
<div class="particle elem2 anim-delay5"></div>
<div class="particle elem3 anim-delay3"></div>
<div class="particle elem4 anim-delay8"></div>
<div class="particle elem5 anim-delay9"></div>
<div class="particle elem6 anim-delay2"></div>
<div class="particle elem7 anim-delay4"></div>

<div class="ui-g">
  <div class="ui-g-12 logo-container">
    <img src="../../../assets/layout/images/logo-manhattan.png"/>
  </div>
</div>
<div class="exception-panel">
  <div class="exception-panel-content error">
    <h1>ERROR</h1>
    <span class="secondary">OCCURED</span>
    <div class="information-text">
      <span><strong>Ocorreu um erro, por favor, tente novamente mais tarde.</strong></span>
      <p>Se o error persisti consulte o administrador do sistema.</p>
    </div>
  </div>

  <div class="exception-panel-footer">
    <button type="button" class="ui-button blue-btn ui-widget ui-state-default ui-corner-all">
      <span class="ui-button-text ui-c" style="padding:5px;">Voltar Dashboard</span>
    </button>
  </div>
</div>



