.login-body {
  background-image: linear-gradient(235deg, #565867, #191a25);
  background-size: cover;
  height: auto;
}
.login-body .logo {
  margin-top: 30px;
}
.login-body .login-panel {
  width: 650px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -325px;
  margin-top: -260px;
}
.login-body .login-panel .ui-g-6 {
  padding: 0;
}
.login-body .login-panel .right-side {
  padding: 100px 0;
}
.login-body .login-panel .ui-g-12 {
  padding: 10px 50px 10px 50px;
}
.login-body .login-panel .ui-g-12.container {
  margin-bottom: 20px;
}
.login-body .login-panel .ui-g-12.container h2 {
  color: #272939;
  font-size: 14px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 0;
}
.login-body .login-panel .ui-g-12.container h3 {
  color: #b7b7c3;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.login-body .login-panel .login-image {
  height: 100%;
  width: 100%;
}
.login-body .login-panel .input-wrapper {
  position: relative;
}
.login-body .login-panel .input-wrapper i {
  position: absolute;
  color: #bdc3c9;
  top: 5px;
  right: 8px;
  font-size: 16px;
}
.login-body .login-panel .input-wrapper input {
  padding-right: 22px;
}
.login-body .login-panel label {
  display: block;
  margin-bottom: 8px;
}
.login-body .login-panel button {
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  .login-body .login-panel {
    width: 100%;
    margin: 0;
    left: 0;
    top: 150px;
  }
  .login-body .login-panel .ui-g-12 {
    padding: 15px 50px;
  }
  .login-body .login-panel .left-side {
    display: none;
  }
  .login-body .login-panel .right-side {
    padding: 0;
  }
}
