.layout-footer {
    position: fixed;
    bottom: 0;
    width: 80%
}

.layout-footer.W100 {
    width: 97%
}

@media (max-width: 1280px) {
    .layout-footer {
        position: fixed;
        bottom: 0;
        width: 100%
    }

    .layout-footer.W100 {
        width: 100%
    }
}

@media (min-width: 1281px){
    .layout-footer {
        position: fixed;
        bottom: 0;
        width: 80%
    }
}

@media (min-width: 1300px){
    .layout-footer {
        position: fixed;
        bottom: 0;
        width: 82%
    }
}

@media (min-width: 1400px){
    .layout-footer {
        position: fixed;
        bottom: 0;
        width: 82%
    }
}

@media (min-width: 1500px){
    .layout-footer {
        position: fixed;
        bottom: 0;
        width: 83%
    }
}

@media (min-width: 1600px){
    .layout-footer {
        position: fixed;
        bottom: 0;
        width: 84%
    }
}

@media (min-width: 1700px){
    .layout-footer {
        position: fixed;
        bottom: 0;
        width: 85%
    }
}

@media (min-width: 1800px){
    .layout-footer {
        position: fixed;
        bottom: 0;
        width: 86%
    }
}
