/* You can add global styles to this file, and also import other style files */
.layout-footer{
  position: sticky;
  bottom: 0;
}

/* .layout-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
} */
