<div class="ui-g dashboard">
  <div class="ui-g-12 ui-lg-6 ui-xl-3">
      <div class="ui-g overview-box overview-box-1">
          <div class="overview-box-icon">
              <i class="fa fa-inbox" ></i>
          </div>
          <div class="overview-box-content">
              <div class="overview-box-title">Unread Messages</div>
              <div class="overview-box-stats">150</div>
              <div class="overview-box-details">+%50 more than yesterday</div>
          </div>
      </div>
  </div>
  <div class="ui-g-12 ui-lg-6 ui-xl-3">
      <div class="ui-g overview-box overview-box-2">
          <div class="overview-box-icon">
              <i class="fa fa-map-marker"></i>
          </div>
          <div class="overview-box-content">
              <div class="overview-box-title">Check-Ins</div>
              <div class="overview-box-stats">532</div>
              <div class="overview-box-details">+%75 more than yesterday</div>
          </div>
      </div>
  </div>
  <div class="ui-g-12 ui-lg-6 ui-xl-3">
    <div class="ui-g overview-box overview-box-2">
        <div class="overview-box-icon">
            <i class="fa fa-map-marker"></i>
        </div>
        <div class="overview-box-content">
            <div class="overview-box-title">Check-Ins</div>
            <div class="overview-box-stats">532</div>
            <div class="overview-box-details">+%75 more than yesterday</div>
        </div>
    </div>
</div>
<div class="ui-g-12 ui-lg-6 ui-xl-3">
  <div class="ui-g overview-box overview-box-2">
      <div class="overview-box-icon">
          <i class="fa fa-map-marker"></i>
      </div>
      <div class="overview-box-content">
          <div class="overview-box-title">Check-Ins</div>
          <div class="overview-box-stats">532</div>
          <div class="overview-box-details">+%75 more than yesterday</div>
      </div>
  </div>
</div>
  <div class="ui-g-12 ui-lg-6 ui-xl-3">
      <div class="ui-g overview-box overview-box-3">
          <div class="overview-box-icon">
              <i class="fa fa-folder"></i>
          </div>
          <div class="overview-box-content">
              <div class="overview-box-title">Files Synced</div>
              <div class="overview-box-stats">25</div>
              <div class="overview-box-details">+%15 more than yesterday</div>
          </div>
      </div>
  </div>
  <div class="ui-g-12 ui-lg-6 ui-xl-3">
      <div class="ui-g overview-box overview-box-4">
          <div class="overview-box-icon">
              <i class="fa fa-user"></i>
          </div>
          <div class="overview-box-content">
              <div class="overview-box-title">Users Online</div>
              <div class="overview-box-stats">156</div>
              <div class="overview-box-details">-%20 less than last week</div>
          </div>
      </div>
  </div>

  <div class="ui-g-12 ui-lg-6 ui-xl-3">
    <div class="ui-g overview-box overview-box-4">
        <div class="overview-box-icon">
            <i class="fa fa-user"></i>
        </div>
        <div class="overview-box-content">
            <div class="overview-box-title">Users Online</div>
            <div class="overview-box-stats">156</div>
            <div class="overview-box-details">-%20 less than last week</div>
        </div>
    </div>
</div>
<div class="ui-g-12 ui-lg-6 ui-xl-3">
  <div class="ui-g overview-box overview-box-4">
      <div class="overview-box-icon">
          <i class="fa fa-user"></i>
      </div>
      <div class="overview-box-content">
          <div class="overview-box-title">Users Online</div>
          <div class="overview-box-stats">156</div>
          <div class="overview-box-details">-%20 less than last week</div>
      </div>
  </div>
</div>


</div>
